<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'stratHealthApp/css/index.css' %}">
</head>
<body>

<div id="index_container">

    <h2 id="logo_header">Strategic Health</h2>

    <div id="intro_form">
        <h2 id="home_form_label">Log In</h2>

        <form method="POST">
            {% csrf_token %}
            {% if error %}
                <h3 id="index_error">{{ error }}</h3>
            {% endif %}

            <label for="django_username">Enter your username</label>
            <input type="text" id="django_username" name="django_username" class="form_input">

            <label for="django_password">Enter your password</label>
            <input type="password" id="django_password" name="django_password" class="form_input">

            <button class="form_input" id="intro_form_button">Submit</button>
        </form>

        <h4>OR <a href="{% url 'new_contact' %}">Create a New User</a></h4>
    </div>

    <div id="index_footer">
        <p>Created By <a href="https://www.linkedin.com/in/kenngibbs/" target="_blank">Kenn Gibbs</a></p>
    </div>
</div>

</body>
</html>