<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stratHealthApp/css/index.css' %}">
</head>
<body>

<div id="index_container">

    <h2 id="logo_header">Strategic Health</h2>

    <div id="intro_form">
        <h2 id="home_form_label">Create New User</h2>

        <form method="POST">
            {% csrf_token %}
            {% if error %}
                <h3 id="index_error">{{ error }}</h3>
            {% endif %}

            <label for="django_username" >Username: </label>
            <input type="text" id="django_username" name="django_username" class="form_input">

            <label for="django_password">Password: </label>
            <input type="password" id="django_password" name="django_password" class="form_input">

            {{ form.as_p }}

            <button class="form_input" id="intro_form_button">Submit</button>
        </form>

        <h4>OR <a href="{% url 'index' %}">Go Back Home</a></h4>
    </div>

    <div id="index_footer">
        <p>Created By <a href="https://www.linkedin.com/in/kenngibbs/" target="_blank">Kenn Gibbs</a></p>
    </div>
</div>

</body>
</html>